/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


$primary-color:#222;
$primary-title:#333;
$alternative-color:#EFEFEF;
$primary-backgroundcolor:#222;
$alternative-backgroundcolor:#454545;

$primary-anchorcolor:#297be2;

$primary-highlight:#F7F7F7;

$primary-hover:#3cb200;

$footerHeight:142px;


@mixin user-select($foxylady){
    
    	-webkit-user-select: $foxylady;
	-khtml-user-select: $foxylady;
	-moz-user-select: $foxylady;
	-ms-user-select: $foxylady;
	user-select: $foxylady;
    }



* {
    margin: 0;
}
html, body {
    height: 100%;
	overflow-x:hidden;
	font-family:museosans100,arial,sans-serif;
}

/*Start div.page-wrap*/
div.page-wrap {
  min-height: 100%;
  /* equal to footer height has to be minus -footerheight*/
    margin-bottom: -$footerHeight; 

:after {
  content: "";
  display: block;
}

}
/*End div.page-wrap*/

div.page-wrap:after {
  /* .push must be the same height as footer */
    height: $footerHeight; 
}
footer.site-footer {
	@extend div.page-wrap:after;	
  background-color:$primary-backgroundcolor;
  color:$alternative-color;
  margin-top:10%;
}

/*Start section#content*/
section#content{
background-color:transparent;
color:$primary-color;

z-index:1000;
width:85%;
margin-top:7%;
margin-bottom:10%;
padding-bottom: 20%;
padding:10% 5%;



 a{

color:$primary-anchorcolor;

}

article{
position:relative;
width:100%;
display:block;        
margin:7% 5%;
padding:10% 5%;

}

}
/*End section#content*/


/*This is for the Nav bar top lock*/
.navbar-fixed {
    top: 0;
    z-index: 4000;
  position: fixed;
    width: 100%;
height:10%;
}
/*Start nav*/
nav{
/*background-color: #232323;*/
position:relative;
z-index:1000;

left:10%;
height:100%;
width:100%;

background-color:$primary-backgroundcolor;




 ul{
height:100%;
}

 ul li {
cursor:pointer;
display:inline-block;

height:100%;
margin-right: -5px;/*This is to get rid of gaps*/

/*This is to take out the grey highlighting border*/
  outline: none; 
-webkit-touch-callout: none;
@include user-select(none); 

}



 ul li ul{position:absolute;}

 ul li ul a {
background-color:$primary-backgroundcolor;    
    }

 ul li ul a:hover {
transition:background-color 1s ease-out;
-moz-transition:background-color 1s ease-out;
-webkit-transition:background-color 1s ease-out;
-o-transition:background-color 1s ease-out;
}

 ul li ul.fallback {display:none;}/*For Dropdown*/
 ul li:hover ul.fallback {display:block;}/*For Dropdown*/




 .logo { /*If a space means next element down the tree*/

position:relative;
width:65px;
visibility:visible;
top:20px;
 
}
 .mobilelogo { 
position:relative;

width:25px!important;

}



}
/*End nav*/


article#slideshows{
 position:relative;         
}

.autoplay{
      
width:100%;

}


/*Start nav.navmain*/
nav.navmain{

 ul a{
position:relative;
display:inline-block;
text-decoration:none;
color:$alternative-color;
padding:20px;
top:-24px;

/*This is to take out the grey highlighting border*/
  outline: none; 
-webkit-touch-callout: none;

@include user-select(none); 
}



 ul a:hover{
height:33%;
transition:background-color 1s ease-out;
-moz-transition:background-color 1s ease-out;
-webkit-transition:background-color 1s ease-out;
-o-transition:background-color 1s ease-out;
background-color:$primary-hover;



}

 ul li.logo a:hover{
/*Cancels the Navigation animations*/
background:transparent;
-moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-out;
    transition: none;
} 

}
/*End nav.navmain*/

nav .logo img {
  width:100%;
}
nav .mobilelogo img{
  margin-top:20%;
  
  width:100%;
}




#Form_Form{
position:relative;
width:40%;

}

#Form_Form input, #Form_Form textarea{
width:80%;
}

#Form_Form input#Form_Form_action_submit{
width:40%;
}




/* Btmenu Mobile Menu Start .bt-menu*/
.bt-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: $primary-backgroundcolor;
	background-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	
    -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;



 a{
text-decoration:none;
font-size:1em;
}

 ul {
	position: fixed;
	margin: 0;
	padding: 0;
	list-style: none;
        
        outline: none;
	 -webkit-touch-callout: none;

     @include user-select(none); 
     

text-decoration:none;
}

 ul:first-of-type {
	top: 75px;
	left: 0;
}

 ul:nth-of-type(2) {
	right: 0;
	bottom: 0;
}



 ul li {
	display: block;
        outline: none;
	 -webkit-touch-callout: none;

     @include user-select(none); 
     
text-decoration:none;
	color:$alternative-color;
	}

 ul:nth-of-type(2) li {
	float: left;
	font-size: 0px;
}

 ul li {
	visibility: hidden;
	opacity: 0;
	/*This controls the scaling animations*/
 
}


 ul li a {
	
   color:$alternative-color;
    display: block;
	outline: none;
    -webkit-touch-callout: none;

        @include user-select(none); 
            
	text-decoration: none;
}

 ul li a:hover {
	color: $primary-hover;
	font-size:1.2em;
}



/* First menu */

 ul li:hover{
	transition:background-color 1s ease-out;
-moz-transition:background-color 1s ease-out;
-webkit-transition:background-color 1s ease-out;
-o-transition:background-color 1s ease-out;
background-color:$primary-backgroundcolor;



}


 ul:first-of-type li {
	width: 150px;
	height: 50px;
	line-height: 50px;

}





/* Second menu */
 ul:nth-of-type(2) li {
	width: 60px;
	height: 50px;
	line-height: 50px;

}

.bt-menu-open ul:nth-of-type(2) li {

}


 ul:first-of-type li a {

	box-shadow: inset 0 1px rgba(0,0,0,0.2);

}


}
/*End .bt-menu*/

.bt-menu-open {
	height: 100%;
	border-width: 0px 0px 50px 150px;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
}

.bt-overlay {
	position: absolute;
	width: 100%;
}

.bt-menu-open .bt-overlay {
	height: 100%;
}

/*Start .bt-menu-trigger*/
.bt-menu-trigger {
	position: fixed;
	top: 0px;
	left: 20px;
	z-index: 100;
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;


 span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 8%;
	background-color:$primary-hover;
	font-size: 0px;
	-webkit-touch-callout: none;

    @include user-select(none); 
    
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
 span:before,
 span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background:$primary-hover;
	content: '';
    
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;

}



 span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}

 span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}

}

/*END.bt-menu-trigger*/

.bt-menu-open .bt-menu-trigger span:before {
	-webkit-transform: translateY(-300%);
	transform: translateY(-300%);
}

.bt-menu-open .bt-menu-trigger span:after {
	-webkit-transform: translateY(300%);
	transform: translateY(300%);
}



.bt-menu.bt-menu-open ul:first-of-type li,
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
	visibility: visible;
	opacity: 1;

}







/*Fix this later to display none*/
@media (min-width: 1200px) {

 section#content{
position:relative;
left:10%;
}


nav.bt-menu, nav.bt-menu li.link{
display:none;

}

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1200px) {
nav.bt-menu, nav.bt-menu li.link{
visibility:visibile;
}

section#content{

z-index:400;/*So its clickable*/
left:17%;
}


nav.navmain{

visibility:hidden;

}

}

@media (max-width: 992px) {
nav.bt-menu, nav.bt-menu li.link{
visibility:visible; 
}

section#content{
position:relative;

left:15%;
}



nav.navmain{

visibility:hidden;

}

nav.logo a{
visibility:visible;  
}

}

@media (max-width:500px){
nav.bt-menu, nav.bt-menu li.link{
visibility:visible; 
  }
  
  section#content{

left:0%;
width:85%;

}


  nav.navmain{
left:30%;
visibility:hidden;

}


nav.logo a{
visibility:visible;  
}
  
  
  #Form_Form{
position:relative;
width:100%;

}

footer.site-footer{
  margin-top:20%;
}
}




