/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 35, ../sass/screen.scss */
* {
  margin: 0;
}

/* line 38, ../sass/screen.scss */
html, body {
  height: 100%;
  overflow-x: hidden;
  font-family: museosans100,arial,sans-serif;
}

/*Start div.page-wrap*/
/* line 45, ../sass/screen.scss */
div.page-wrap {
  min-height: 100%;
  /* equal to footer height has to be minus -footerheight*/
  margin-bottom: -142px;
}
/* line 50, ../sass/screen.scss */
div.page-wrap :after {
  content: "";
  display: block;
}

/*End div.page-wrap*/
/* line 58, ../sass/screen.scss */
div.page-wrap:after, footer.site-footer {
  /* .push must be the same height as footer */
  height: 142px;
}

/* line 62, ../sass/screen.scss */
footer.site-footer {
  background-color: #222;
  color: #EFEFEF;
  margin-top: 10%;
}

/*Start section#content*/
/* line 70, ../sass/screen.scss */
section#content {
  background-color: transparent;
  color: #222;
  z-index: 1000;
  width: 85%;
  margin-top: 7%;
  margin-bottom: 10%;
  padding-bottom: 20%;
  padding: 10% 5%;
}
/* line 83, ../sass/screen.scss */
section#content a {
  color: #297be2;
}
/* line 89, ../sass/screen.scss */
section#content article {
  position: relative;
  width: 100%;
  display: block;
  margin: 7% 5%;
  padding: 10% 5%;
}

/*End section#content*/
/*This is for the Nav bar top lock*/
/* line 103, ../sass/screen.scss */
.navbar-fixed {
  top: 0;
  z-index: 4000;
  position: fixed;
  width: 100%;
  height: 10%;
}

/*Start nav*/
/* line 111, ../sass/screen.scss */
nav {
  /*background-color: #232323;*/
  position: relative;
  z-index: 1000;
  left: 10%;
  height: 100%;
  width: 100%;
  background-color: #222;
  /*For Dropdown*/
  /*For Dropdown*/
}
/* line 125, ../sass/screen.scss */
nav ul {
  height: 100%;
}
/* line 129, ../sass/screen.scss */
nav ul li {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  margin-right: -5px;
  /*This is to get rid of gaps*/
  /*This is to take out the grey highlighting border*/
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 145, ../sass/screen.scss */
nav ul li ul {
  position: absolute;
}
/* line 147, ../sass/screen.scss */
nav ul li ul a {
  background-color: #222;
}
/* line 151, ../sass/screen.scss */
nav ul li ul a:hover {
  transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -webkit-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
}
/* line 158, ../sass/screen.scss */
nav ul li ul.fallback {
  display: none;
}
/* line 159, ../sass/screen.scss */
nav ul li:hover ul.fallback {
  display: block;
}
/* line 164, ../sass/screen.scss */
nav .logo {
  /*If a space means next element down the tree*/
  position: relative;
  width: 65px;
  visibility: visible;
  top: 20px;
}
/* line 172, ../sass/screen.scss */
nav .mobilelogo {
  position: relative;
  width: 25px !important;
}

/*End nav*/
/* line 185, ../sass/screen.scss */
article#slideshows {
  position: relative;
}

/* line 189, ../sass/screen.scss */
.autoplay {
  width: 100%;
}

/*Start nav.navmain*/
/* line 199, ../sass/screen.scss */
nav.navmain ul a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #EFEFEF;
  padding: 20px;
  top: -24px;
  /*This is to take out the grey highlighting border*/
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 216, ../sass/screen.scss */
nav.navmain ul a:hover {
  height: 33%;
  transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -webkit-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  background-color: #3cb200;
}
/* line 228, ../sass/screen.scss */
nav.navmain ul li.logo a:hover {
  /*Cancels the Navigation animations*/
  background: transparent;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-out;
  transition: none;
}

/*End nav.navmain*/
/* line 240, ../sass/screen.scss */
nav .logo img {
  width: 100%;
}

/* line 243, ../sass/screen.scss */
nav .mobilelogo img {
  margin-top: 20%;
  width: 100%;
}

/* line 252, ../sass/screen.scss */
#Form_Form {
  position: relative;
  width: 40%;
}

/* line 258, ../sass/screen.scss */
#Form_Form input, #Form_Form textarea {
  width: 80%;
}

/* line 262, ../sass/screen.scss */
#Form_Form input#Form_Form_action_submit {
  width: 40%;
}

/* Btmenu Mobile Menu Start .bt-menu*/
/* line 270, ../sass/screen.scss */
.bt-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #222;
  background-color: transparent;
  -webkit-backface-visibility: hidden;
  -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
  transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
  /* First menu */
  /* Second menu */
}
/* line 287, ../sass/screen.scss */
.bt-menu a {
  text-decoration: none;
  font-size: 1em;
}
/* line 292, ../sass/screen.scss */
.bt-menu ul {
  position: fixed;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}
/* line 307, ../sass/screen.scss */
.bt-menu ul:first-of-type {
  top: 75px;
  left: 0;
}
/* line 312, ../sass/screen.scss */
.bt-menu ul:nth-of-type(2) {
  right: 0;
  bottom: 0;
}
/* line 319, ../sass/screen.scss */
.bt-menu ul li {
  display: block;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  color: #EFEFEF;
}
/* line 330, ../sass/screen.scss */
.bt-menu ul:nth-of-type(2) li {
  float: left;
  font-size: 0px;
}
/* line 335, ../sass/screen.scss */
.bt-menu ul li {
  visibility: hidden;
  opacity: 0;
  /*This controls the scaling animations*/
}
/* line 343, ../sass/screen.scss */
.bt-menu ul li a {
  color: #EFEFEF;
  display: block;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}
/* line 355, ../sass/screen.scss */
.bt-menu ul li a:hover {
  color: #3cb200;
  font-size: 1.2em;
}
/* line 364, ../sass/screen.scss */
.bt-menu ul li:hover {
  transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -webkit-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  background-color: #222;
}
/* line 376, ../sass/screen.scss */
.bt-menu ul:first-of-type li {
  width: 150px;
  height: 50px;
  line-height: 50px;
}
/* line 388, ../sass/screen.scss */
.bt-menu ul:nth-of-type(2) li {
  width: 60px;
  height: 50px;
  line-height: 50px;
}
/* line 400, ../sass/screen.scss */
.bt-menu ul:first-of-type li a {
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.2);
}

/*End .bt-menu*/
/* line 410, ../sass/screen.scss */
.bt-menu-open {
  height: 100%;
  border-width: 0px 0px 50px 150px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: border-width 0.3s, background-color 0.3s;
  transition: border-width 0.3s, background-color 0.3s;
}

/* line 418, ../sass/screen.scss */
.bt-overlay {
  position: absolute;
  width: 100%;
}

/* line 423, ../sass/screen.scss */
.bt-menu-open .bt-overlay {
  height: 100%;
}

/*Start .bt-menu-trigger*/
/* line 428, ../sass/screen.scss */
.bt-menu-trigger {
  position: fixed;
  top: 0px;
  left: 20px;
  z-index: 100;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
/* line 439, ../sass/screen.scss */
.bt-menu-trigger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 8%;
  background-color: #3cb200;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
/* line 455, ../sass/screen.scss */
.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3cb200;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
/* line 471, ../sass/screen.scss */
.bt-menu-trigger span:before {
  -webkit-transform: translateY(-250%);
  transform: translateY(-250%);
}
/* line 476, ../sass/screen.scss */
.bt-menu-trigger span:after {
  -webkit-transform: translateY(250%);
  transform: translateY(250%);
}

/*END.bt-menu-trigger*/
/* line 485, ../sass/screen.scss */
.bt-menu-open .bt-menu-trigger span:before {
  -webkit-transform: translateY(-300%);
  transform: translateY(-300%);
}

/* line 490, ../sass/screen.scss */
.bt-menu-open .bt-menu-trigger span:after {
  -webkit-transform: translateY(300%);
  transform: translateY(300%);
}

/* line 497, ../sass/screen.scss */
.bt-menu.bt-menu-open ul:first-of-type li,
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
  visibility: visible;
  opacity: 1;
}

/*Fix this later to display none*/
@media (min-width: 1200px) {
  /* line 513, ../sass/screen.scss */
  section#content {
    position: relative;
    left: 10%;
  }

  /* line 519, ../sass/screen.scss */
  nav.bt-menu, nav.bt-menu li.link {
    display: none;
  }
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1200px) {
  /* line 528, ../sass/screen.scss */
  nav.bt-menu, nav.bt-menu li.link {
    visibility: visibile;
  }

  /* line 532, ../sass/screen.scss */
  section#content {
    z-index: 400;
    /*So its clickable*/
    left: 17%;
  }

  /* line 539, ../sass/screen.scss */
  nav.navmain {
    visibility: hidden;
  }
}
@media (max-width: 992px) {
  /* line 548, ../sass/screen.scss */
  nav.bt-menu, nav.bt-menu li.link {
    visibility: visible;
  }

  /* line 552, ../sass/screen.scss */
  section#content {
    position: relative;
    left: 15%;
  }

  /* line 560, ../sass/screen.scss */
  nav.navmain {
    visibility: hidden;
  }

  /* line 566, ../sass/screen.scss */
  nav.logo a {
    visibility: visible;
  }
}
@media (max-width: 500px) {
  /* line 573, ../sass/screen.scss */
  nav.bt-menu, nav.bt-menu li.link {
    visibility: visible;
  }

  /* line 577, ../sass/screen.scss */
  section#content {
    left: 0%;
    width: 85%;
  }

  /* line 585, ../sass/screen.scss */
  nav.navmain {
    left: 30%;
    visibility: hidden;
  }

  /* line 592, ../sass/screen.scss */
  nav.logo a {
    visibility: visible;
  }

  /* line 597, ../sass/screen.scss */
  #Form_Form {
    position: relative;
    width: 100%;
  }

  /* line 603, ../sass/screen.scss */
  footer.site-footer {
    margin-top: 20%;
  }
}
